@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img { border:0;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}

body, h1, h2, h3, h4, h5, h6, p {font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; font-weight: normal; color: #000;}
p{font-size: 15px;}
a{  text-decoration:none; outline: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none; -webkit-box-sizing: border-box;  box-sizing: border-box;}
html, body{ height: 100%; }


/*===== start ======*/
.ContentsBox{/* max-width: 1200px; */margin: 0 auto; min-width: 320px;}

/*會員中心的header*/
.HeaderBox{ width: 100%; padding: 10px 0; min-height: 30px; background-color: #fff; border-bottom:2px solid #27d0ca; position: fixed; top: 0; left: 0; z-index: 10;}
.HeaderBox .ContentsBox{ width: 100%; max-width: 1600px;}
.HeaderBox h1.logo{ float: left;  font-size: 22px; margin: 0 25px 0 15px; text-indent: -9999px;}
.HeaderBox h1.logo a{ width: 120px; height: 40px; display: block; background: url(../images/logo.png) center center no-repeat; background-size: contain;}
.HeaderBox ul.menu{ float: left; text-align: left;}
.HeaderBox ul.menu li{display: inline-block; margin: 0 16px;}
.HeaderBox ul.menu p a{ color: #333; cursor: pointer;}
.HeaderBox ul.menu p a:hover{ color: #27d0ca; }
.HeaderBox ul.menu p.btn_in a{ color: #27d0ca; }

.HeaderBox p{ line-height: 40px; font-size: 14px; font-weight: bold; }
.HeaderBox ul.userBox{float: right; padding: 0 15px;  text-align: right;}
.HeaderBox ul.userBox li{ display: inline-block; margin: 0 10px; position: relative; }
.HeaderBox ul.userBox li p{font-weight: normal; color: #666;}
.HeaderBox ul.userBox li span.bell_nb{display: inline-block;  font-size: 12px; font-weight: 700; line-height: 1;  color:#fff; text-align: center; white-space: nowrap; vertical-align: baseline; background-color:#ffad39; padding: 3px 7px; border-radius: 10px;}
.HeaderBox ul.userBox li a{display: block; cursor: pointer;}
.HeaderBox ul.userBox li a:hover p{ color: #333; }
.HeaderBox ul.userBox li.profile_photo a{position: relative; min-height: 25px; display: inline-block; min-width: 36px;}
.HeaderBox ul.userBox li.profile_photo p{padding-left: 46px;}
.HeaderBox ul.userBox li .header_profile_img{position: absolute; left: 0; top: 2px; width: 36px; height: 36px; border-radius: 50%; overflow: hidden; }

.HeaderBox ul.userBox li .notificationBox{ position: absolute; display: none; top: 40px; right: 0; width: 320px; border: 1px solid #dfdfdf; border-radius: 4px; background-color: #fff; z-index: 5; box-shadow: 0 3px 10px rgba(0,0,0,.2);}
.HeaderBox ul.userBox li .notificationBox .listBox{ height: 300px; overflow-y: scroll;}
.HeaderBox ul.userBox li .notificationBox .notification-item{ width: 100%; border-bottom: 1px solid #dfdfdf; cursor: pointer; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms}
.HeaderBox ul.userBox li .notificationBox .notification-item:hover{background-color: #f2f2f2;}
.HeaderBox ul.userBox li .notificationBox .status-unread{ background-color: #fff8ec; }
.HeaderBox ul.userBox li .notificationBox .status-unread:hover{ background-color: #fff9f0; }
.HeaderBox ul.userBox li .notificationBox .left-box{ float: left; width: initial; text-align: center; padding: 20px;}
.HeaderBox ul.userBox li .notificationBox .left-box .photo{ width: 50px; height: 50px; border-radius: 50%; overflow: hidden; margin: 0 auto; }
.HeaderBox ul.userBox li .notificationBox .notification-content{ float: left; width: calc(100% - 100px); padding: 15px 0;}
.HeaderBox ul.userBox li .notificationBox .notification-content p{ line-height: 24px; text-align: justify; }
.HeaderBox ul.userBox li .notificationBox .notification-content p.time{ color: #999999; font-size: 12px; }
.HeaderBox ul.userBox li .notificationBox .top_all_read{ width: 100%; text-align: right; border-bottom: 1px solid #dfdfdf; }
.HeaderBox ul.userBox li .notificationBox .top_all_read p{ display: inline-block; padding: 0 12px; font-size: 13px; cursor: pointer;}
.HeaderBox ul.userBox li .notificationBox .top_all_read p a{ color: #333; }
.HeaderBox ul.userBox li .notificationBox .top_all_read p a:hover{color: #27d0ca;}
.HeaderBox ul.userBox li .notificationBox p.more{ width: 100%; font-size: 13px; font-weight: bold; text-align: center; border-top: 1px solid #dfdfdf;}
.HeaderBox ul.userBox li .notificationBox p.more a{ color: #333; }
.HeaderBox ul.userBox li .notificationBox p.more a:hover{ color: #27d0ca; }

.HeaderBox ul.userBox li .theUserBox{ position: absolute; display: none; top: 40px; right: 50%; margin-right: -75px; width: 150px; border: 1px solid #dfdfdf; border-radius: 4px; background-color: #fff; z-index: 5; box-shadow: 0 3px 10px rgba(0,0,0,.2);}
/*.HeaderBox ul.userBox li .theUserBox ul{position: relative;}
.HeaderBox ul.userBox li .theUserBox ul::after{content: ""; position: absolute; top: -10px; left: 50%; margin-left: -10px; background-color: #fff; width: 20px; height: 11px; -webkit-clip-path: polygon(100% 100%, 0 100%, 50% 0); clip-path: polygon(100% 100%, 0 100%, 50% 0); box-shadow: 0 3px 10px rgba(0,0,0,.2)}
*/
.HeaderBox ul.userBox li .theUserBox ul li{ text-align: center; position: inherit; display: block; margin: 0 ; border-top: 1px solid #dfdfdf; cursor: pointer;}
.HeaderBox ul.userBox li .theUserBox ul li p{padding: 0; line-height: 48px;font-weight: bold;}
.HeaderBox ul.userBox li .theUserBox ul li p a{color: #333;}
.HeaderBox ul.userBox li .theUserBox ul li p a:hover{ color: #27d0ca;  /*background-color: #f2f2f2;*/}
.HeaderBox ul.userBox li .theUserBox ul li.mob_show{display: none;}

/*main_contents*/
.main_contents{width: 100%; background-color: #f9f9f9; padding-top: 62px;}
.main_contents .ContentsBox{ width: 100%; max-width: 1600px; background-color: #fff;}
.main_contents .sideMenu{float: left; width: 298px;}
.main_contents .sideMenu ul.mainMenu{ width: 298px; }
.main_contents .sideMenu ul li{ width: 100%; }
.main_contents .sideMenu ul li h3{ font-size: 16px; }
.main_contents .sideMenu ul li h3 a{ color: #555555; display: block; position: relative; line-height: 48px; padding-left: 45px; }
.main_contents .sideMenu ul li h3 a:hover{ color:#27d0ca;}
.main_contents .sideMenu ul li h3 i{ position: absolute; top: 15px; left: 15px; width: 20px;text-align: center;}
.main_contents .sideMenu ul li h3 i.the_arr{position: absolute; left: inherit; right: 20px;}
.main_contents .sideMenu ul li h3.btn_in{ background-color: #27d0ca; }
.main_contents .sideMenu ul li h3.btn_in a{color: #fff;}
.main_contents .sideMenu ul li p{ font-size: 15px; }
.main_contents .sideMenu ul li p a{color: #777777; line-height: 48px; display: block; padding-left: 45px; position: relative ;}
.main_contents .sideMenu ul li p a:hover{color: #27d0ca;}
.main_contents .sideMenu ul li p.btn_in a{ color: #27d0ca;}

.main_contents .sideMenu ul li ul.subMenu{display: none;}

.main_contents .sideMenu ul li a span.label_remind{ position: absolute; top: 12px; right: 14px; padding: 0px 8px; border-radius: 4px; background-color: #ff5186; display: inline-block; color: #fff; font-size: 12px; line-height: 22px; }
.main_contents .sideMenu ul li a span.label_nb{ position: inherit; top: inherit; right: inherit; padding: 0px 8px; margin:0 5px;  border-radius: 10px; background-color: #ffad39; display: inline-block; color: #fff; font-size: 12px; line-height: 22px; }

/*.main_contents a.open_switch{ position: fixed; font-size: 20px; z-index: 8; cursor: pointer; left: 35px; bottom: 8vh; width: 45px; height: 45px; line-height: 45px; border-radius: 50%; text-align: center; display: block; background-color: #27d0ca; color: #fff;}
*/

.main_contents .rightData{float: left; width:calc(100% - 299px); min-height: calc(100vh - 364px); padding: 40px 0 60px 0; border-left: 1px solid #dfdfdf; background-color: #f9f9f9;}
.main_contents .rightData .dataBox{ width: calc(100% - 160px); margin: 0 auto;}
.main_contents .rightData .dataBox h4.top_title{font-size: 26px; color: #333; padding-bottom: 35px; position: relative; max-width: 760px;}
.main_contents .rightData .dataBox h5.sub_title{font-size: 20px; color: #27d0ca; padding-bottom: 15px;}

.main_contents .rightData .dataBox h4.top_title a.link, .main_contents .rightData .dataBox h5.sub_title a.link{ font-size: 13px; color: #27d0ca; border-radius: 4px; padding: 2px 6px; display: inline-block; background-color: #ffad39; color: #fff; margin-left: 5px; vertical-align: middle;}
.main_contents .rightData .dataBox h4.top_title a.link:hover, .main_contents .rightData .dataBox h5.sub_title a.link:hover{ opacity: .9 ;}
.main_contents .rightData .dataBox h4.top_title a.add_new_website{ border:1.5px solid #27d0ca; font-size: 14px; font-weight: bold; position: absolute; right: 0; top: 0px; padding: 6px 14px; color: #27d0ca;}
.main_contents .rightData .dataBox h4.top_title a.add_new_website i{padding-right: 5px; font-size: 12px;}
.main_contents .rightData .dataBox h4.top_title a.add_new_website:hover{ background-color: #27d0ca; color: #fff; }

.main_contents ul.My_template{ width: 100%; max-width:760px; }
.main_contents ul.My_template li{ padding: 25px; box-shadow: 0 0 10px rgba(0,0,0,.2); background-color: #fff; margin-bottom: 40px; position: relative; border-radius: 4px; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
.main_contents ul.My_template li:hover{box-shadow:rgba(0,0,0,0.25) 0px 14px 35px, rgba(0,0,0,0.22) 0px 10px 18px; }
.main_contents ul.My_template li .label_shopping{ position: absolute; top: -35px; left: -48px; color: #fff; width:85px; height: 0; border-width: 0 30px 30px; background: none; border-style: solid; border-color: transparent transparent #ff5186;-moz-transform-origin:right bottom; -moz-transform:rotate(-45deg);-webkit-transform-origin:right bottom; -webkit-transform:rotate(-45deg); -o-transform-origin:right bottom;-o-transform:rotate(-45deg); -ms-transform-origin:right bottom; -ms-transform:rotate(-45deg); transform-origin:right bottom; transform:rotate(-45deg);}
.main_contents ul.My_template li .label_shopping i{padding-right: 7px; font-size: 14px;}
.main_contents ul.My_template li .label_shopping p{ color: #fff; line-height: 30px; text-align: center; color: #fff; position: relative; }
.main_contents ul.My_template li .label_shopping p::before{content: "";width: 0; position: absolute; left: -30px; top: 30px; width: 0; height: 0; border-style: solid; border-width: 3.5px 3.5px 0 3.5px; border-color: #9c1a34 transparent transparent transparent;line-height: 0px;_border-color: #9c1a34 #000000 #000000 #000000; _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');}
.main_contents ul.My_template li .label_shopping p::after{content: "";width: 0; position: absolute; right: -30px; top: 30px; width: 0; height: 0; border-style: solid; border-width: 3.5px 3.5px 0 3.5px; border-color: #9c1a34 transparent transparent transparent;line-height: 0px; _border-color: #9c1a34 #000000 #000000 #000000; _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');}

.main_contents ul.My_template li p{font-size: 15px; }
.main_contents ul.My_template li .btn_swtich{position: absolute; right: 15px; top: 15px; display: inline-block;}
.main_contents ul.My_template li .btn_swtich p{float: left; line-height: 24px; font-size: 13px; font-weight: bold; margin-right: 10px; color: #999999;}
.main_contents ul.My_template li .btn_swtich p.open{ color: #0cc2aa;}
.main_contents ul.My_template li .swtich_type{float: left;}

.main_contents ul.My_template .share_photo{width: 100%; float: left; max-width: 180px; padding-right: 30px; }
.main_contents ul.My_template .website_info{ width:calc(100% - 230px); float: left; }
.main_contents ul.My_template .website_info h5.web_name{ font-size: 22px; color: #333333; height: 36px; line-height: 36px;/* font-weight: bold;*/ width:calc(100% - 120px); display: block; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; height: 36px * 1;}
.main_contents ul.My_template .website_info p.the_meta{ color: #666; height: 35px; line-height: 35px; display: block; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; height: 35px * 1;}
.main_contents ul.My_template .website_info p.the_meta span{ color: #999; }
.main_contents ul.My_template .website_info p.web_Site{ height: 30px; line-height: 30px;display: block; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; height: 30px * 1;}
.main_contents ul.My_template .website_info p.web_Site a{ color: #27d0ca; }
.main_contents ul.My_template .website_info p.web_Site a:hover{text-decoration: underline;}
.main_contents ul.My_template .website_info p.update{ color: #999999; font-size: 13px; line-height: 30px;}

/*member centre 按鈕 default*/
.btn_default{ width: 100%; text-align: center; line-height: 22px; }
.btn_default a{background-color: #27d0ca; display: inline-block; min-width: 124px; min-height: 22px; line-height: 22px; color: #fff; padding: 10px 15px; transition: all 0.2s linear;}
.btn_default a:hover{opacity: .9;}
.btn_default a.color_gray{  background-color: #b1b1b1; margin-left: 10px;}

/*member centre 按鈕 default EDN*/

.main_contents ul.My_template li p.btn_tools{ text-align: left; font-size: 14px; padding-top: 8px;}
.main_contents ul.My_template li p.btn_tools a{ border-radius: 40px; margin:0 5px 5px 0; min-width: inherit; padding: 5px 20px;}
.main_contents ul.My_template li p.btn_tools a.color_orange{ background-color: #ffad39;}
.main_contents ul.My_template li p.btn_tools a.color_green{ background-color: #8fc320;}
.main_contents ul.My_template li p.btn_tools a.color_purple{ background-color: #ad88bc;}
.main_contents ul.My_template li p.btn_tools a.icon_delete{background:transparent; padding: 0 5px; color: #c9c9c9; font-size: 18px;}


.main_contents ul.My_template li.shoppingBox{ background-color: #fff; text-align: center; }
.main_contents ul.My_template li.shoppingBox h5{font-size: 20px;}
.main_contents ul.My_template li.shoppingBox i{ color: #74dcd8; font-size: 44px; padding: 15px 0;}
.main_contents ul.My_template li.shoppingBox p.btn_tools{text-align: center;}
.main_contents ul.My_template li.shoppingBox p.btn_tools a{ padding: 10px 35px; border-radius: 0; margin: 10px 0;}

.main_contents ul.My_template li .button {display: inline-block;position: relative; height: 22px;-webkit-user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);cursor: pointer;background-color: #eee; border-radius: 22px;}
.main_contents ul.My_template li .button:before {content: "";display: inline-block; width: 42px; height: 22px; background-color: #fff; border-radius: 22px; box-sizing: border-box; border: 2px solid #eee; transition: all 0.2s linear; }
.main_contents ul.My_template li .button:after {position: absolute; left: 2px; top: 2px; content: ""; display: inline-block; width: 18px; height: 18px; background-color: #fff; border-radius: 18px; transition: all 0.2s linear; box-shadow: 0px 1px 3px #bbb;}
.main_contents ul.My_template li input {opacity: 0;position: absolute;top: 0;left: 0;}
.main_contents ul.My_template li input:checked ~ .button:before {background-color:#27d0ca;border: 1px solid #27d0ca;}
.main_contents ul.My_template li input:checked ~ .button:after {left: 22px;}

.main_contents ul.pageBox{width: 100%; /*text-align: center;*/ padding: 20px 0;}
.main_contents ul.pageBox li{display: inline-block; margin: 0 3px;}
.main_contents ul.pageBox li p{font-size: 14px; color: #666;}
.main_contents ul.pageBox li p a{ padding:8px 14px; color: #666; display: inline-block;}
.main_contents ul.pageBox li p a:hover{color: #27d0ca;}
.main_contents ul.pageBox li p a.btn_in{ color: #27d0ca; font-weight: bold; /*border-bottom: 1px solid #27d0ca; */}
.main_contents ul.pageBox li p a.border{border: 1px solid #c9c9c9; font-size: 13px;}
.main_contents ul.pageBox li p a.border:hover{border-color: #c9c9c9;}

/*popup 網站設定*/
.setBox{ width: 100% }
.setBox .top_title{ width: 100%; position: relative; text-align: center; padding-bottom: 22px; margin-bottom: 15px;}
.setBox .top_title::after{position: absolute; content: ""; width: 70px; left: 50%; bottom: 0; margin-left: -35px; height: 2px; background-color: #27d0ca; display: block;}
.setBox .top_title h3{ font-size: 24px; padding-bottom: 10px;color: #333; /*font-weight: bold;*/ }
.setBox .top_title p{color: #888; line-height: 20px;}

.setBox .fillinBox{ width: 100%; }
.setBox .fillinBox ul li{padding-bottom: 10px;}
.setBox .fillinBox p.label_title{padding: 12px 0; color: #888888;}
.setBox .fillinBox .f_red{ color: #ff2121; }

.setBox .fillinBox input, .setBox .fillinBox textarea{border: 1px solid #e0e0e0; width:calc(100% - 22px); padding: 8px 10px; font-size: 15px; line-height: 24px; color: #333;}
.setBox p.the_reminder{ color: #888888; font-size: 13px;text-align: justify; line-height: 22px; padding: 6px 0; }
.setBox p.the_reminder a{ color: #27d0ca; }
.setBox p.the_reminder a:hover{text-decoration: underline;}

.setBox .fillinBox input[type=text], .setBox .fillinBox textarea { -webkit-transition: all 0.30s ease-in-out;  -moz-transition: all 0.30s ease-in-out;  -ms-transition: all 0.30s ease-in-out;  -o-transition: all 0.30s ease-in-out;  outline: none;}
.setBox .fillinBox input[type=text]:focus, .setBox .fillinBox textarea:focus { border-color: #9e9e9e;}

.setBox .fillinBox .shareBox{ width: 100%; }
.setBox .fillinBox .shareBox .the_img{ float: left; width: 150px; height: 150px; border: 1px solid #e0e0e0;}
.setBox .fillinBox .shareBox .the_img:hover{ border-color: #9e9e9e; }
.setBox .fillinBox .shareBox .the_img a{display: block; cursor: pointer;}
.setBox .fillinBox .shareBox .the_img img{ width: unset; max-width: 100%; max-height: 100%;}

.setBox .fillinBox .shareBox p.the_reminder{float: right; width:calc(100% - 180px); padding: 0;}
.setBox .fillinBox .less140{ width: calc(100% - 122px); float: left;}
.setBox .fillinBox .btn_default{width: inherit; display: inline-block;}
.setBox .fillinBox .verification .btn_default a{ min-width: 90px; padding: 10px 5px;}
.setBox .fillinBox ul.shop_info_set{ padding-bottom: 20px; }

.setBox .styled-select { border: 1px solid #e0e0e0; width:calc(100% - 2px) ; min-height: 22px; -webkit-transition: all 0.30s ease-in-out;  -moz-transition: all 0.30s ease-in-out;  -ms-transition: all 0.30s ease-in-out;  -o-transition: all 0.30s ease-in-out; overflow: hidden; background: url(../images/icon_arr.png) right center no-repeat #fff;}
.setBox .styled-select select { width:100%; width: calc(100% - 20px); padding: 8px 10px; min-height: 24px; line-height: 24px; *width:120%; _width:120%;  background:transparent; text-align: center;  font-size: 15px; border: 0; border-radius:0; -webkit-appearance: none;  }
.setBox .styled-select select option{ background-color:#fff; text-align: center; color: #333;}
.setBox .styled-select:hover{ border-color: #9e9e9e; }
.setBox .styled-select option.gray{ color: #888888;}

.setBox select {-moz-appearance: none;  text-indent: 0.01px; text-overflow: '';text-align: center;}
*::-ms-backdrop, .setBox .styled-select{ width:100%\0; background: url(../images/icon_arr.png) right center no-repeat #f1f0f0\0; background-size: contain;}
*::-ms-backdrop, .setBox .styled-select select{ width:125%\0; background: transparent\0;}
*::-ms-backdrop, .setBox .styled-select select option{ background-color:#ccc\0; padding:5px 0\0;}

:root .setBox .styled-select{ width:\9\0; background-color: url(../images/icon_arr.png) right center no-repeat #f1f0f0\9\0 !important; background-size: contain;}
:root .setBox .styled-select select{ width:120%\9\0 !important; background: transparent\9\0 !important;}
:root .setBox .styled-select select option{ background-color:#fff\9\0; padding:5px 0\9\0;}

.setBox .fillinBox .storePhoto{padding-bottom: 20px;}
.setBox .fillinBox .storePhoto .the_img{ width: 250px; height: 108px; text-align: center; background-color: #fff; }
.setBox .fillinBox .storePhoto p.the_reminder{ width: calc(100% - 282px);}
.setBox .fillinBox .storePhoto p.the_reminder a{margin-right: 10px;}


.main_contents .slide_Photo ul.Photo_list{ width: 100%; padding: 30px 0; text-align: left; }
.main_contents .slide_Photo ul.Photo_list li{ vertical-align: top; padding:10px; position: relative; cursor: move; display: inline-block;}
.main_contents .slide_Photo ul.Photo_list li .list_nb{ z-index: 5; position: absolute; top: 0; left: 0 ;font-size: 0.688rem; width: 20px; height: 20px; display: block; border-radius: 50%; background-color: #0cc2aa; color: #fff; text-align: center; line-height: 20px; }
.main_contents .slide_Photo ul.Photo_list li .photo{ width: 190px; height: 190px; display: block; border: 1px dashed #d4d4d4; border-radius: 4px; overflow: hidden; position: relative; display: -webkit-flex; display: flex; display:flex; align-items:center; justify-content:center; }
.main_contents .slide_Photo ul.Photo_list li .photo img{ display: block; max-width: 100%; max-height: 100%; vertical-align: middle; height: auto;}
.main_contents .slide_Photo ul.Photo_list li .the_btn{  text-align: center; position: absolute; width: 100%;  left: 0; top: 0%; height: 100%; background-color: rgba(0,0,0,.5); display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center; opacity: 0;}
.main_contents .slide_Photo ul.Photo_list li .the_btn p{ text-align: center; width: 100%; }
.main_contents .slide_Photo ul.Photo_list li .the_btn a{ color: #fff; width: 42%; display: inline-block; }
.main_contents .slide_Photo ul.Photo_list li .the_btn a i{ display: block; padding-bottom: 5px; }
.main_contents .slide_Photo ul.Photo_list li .the_btn a:hover{ opacity: .5; }
.main_contents .slide_Photo ul.Photo_list li:hover .the_btn{ opacity: 1; }


.main_contents .slide_Photo ul.Photo_list li a.img_upload p{ font-size: 0.75rem;color: #b1b1b1; text-align: center;}
.main_contents .slide_Photo ul.Photo_list li a.img_upload p i.images{ font-size: 2rem; padding-bottom: 10px; display: block; }
.main_contents .slide_Photo ul.Photo_list li a.img_upload:hover{ border-color: #555; }
.main_contents .slide_Photo ul.Photo_list li a.img_upload:hover p{ color: #555; }

.main_contents .slide_Photo ul.Photo_list li .img_upload{ color: #b1b1b1; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.main_contents .slide_Photo ul.Photo_list li .img_upload .the_btn p{ text-align: center; width: 100%; height: 100%; font-size: 1rem; }
.main_contents .slide_Photo ul.Photo_list li .img_upload .the_btn span{ color: #fff; width: 42%; display: inline-block; }
.main_contents .slide_Photo ul.Photo_list li .img_upload .the_btn span i{ display: block; padding-bottom: 5px; }
.main_contents .slide_Photo ul.Photo_list li .img_upload a:hover .the_btn{ opacity: 1; }

.main_contents .slide_Photo ul.Photo_list li.none_move{ cursor: pointer; }
.main_contents .slide_Photo ul.Photo_list li.none_move .photo:hover{ border-color: #555; }


/*.setBox .fillinBox .goodsPhoto a.btn_wireframe{margin-top: 12px; border-radius: 4px; height: 24px; color: #888888; display: inline-block; min-width: 80px; text-align: center; padding: 5px 10px; border: 1px solid #888888; }
.setBox .fillinBox .goodsPhoto a.btn_wireframe:hover{ border-color: #666; color: #666; text-decoration: none; }
*/
/*pop-up 網站設定 end*/

.main_contents .user_infoDate{ width: 100%; max-width: 760px; padding-bottom: 50px;}
.main_contents .user_infoDate .btn_default{ text-align: left;}
.main_contents .user_infoDate .btn_default a{  text-align: center; }

.main_contents .user_infoDate .verification input{ float: left; }
.main_contents .user_infoDate .verification .btn_default{ float: left; width: inherit;}
.main_contents .user_infoDate .verification .btn_default a{ min-width: 90px; padding: 10px 5px;}
.main_contents .user_infoDate .verification .less140{ width: calc(100% - 122px); max-width: calc(428px - 140px);}

.setBox .for_note{ display: inline-block; padding: 0 12px; font-size: 14px; color: #77aa44; font-weight: bold; line-height: 42px; }
.setBox .for_note i{padding-right: 5px;}
.setBox .color_red{color: #ff2121;}

.main_contents .user_infoDate .setBox .w408{ max-width: 388px }
.main_contents .user_infoDate .setBox .fillinBox{padding-bottom: 50px;}
.main_contents .user_infoDate .setBox .fillinBox .the_userBD .w70{ min-width: 88px; width: inherit; display: inline-block; margin-right: 5px;}
.main_contents .user_infoDate .setBox .fillinBox .change_PW input{ margin-bottom: 10px; }
.main_contents .user_infoDate .setBox .fillinBox textarea.h_200{ min-height: 170px; text-align: justify; }
.main_contents .user_infoDate .setBox .fillinBox .shipping_costs input{ max-width: 100px; float: left; }
.main_contents .user_infoDate .setBox .fillinBox .shipping_costs p{ font-size: 13px; color: #666; float: left; line-height: 42px; padding: 0 10px; }


.main_contents .user_infoDate .setBox p.info_show{ border-bottom: 1px solid #e0e0e0; color: #333; width:calc(100% - 20px); padding: 8px 10px; font-size: 15px; line-height: 24px;}
.main_contents .user_infoDate .setBox ul.subscription li{ text-align: left; }
.main_contents .user_infoDate .setBox ul.subscription .the_radio{ width: 15px; height: 44px; float: left; }
.main_contents .user_infoDate .setBox ul.subscription label{float: left; padding-left: 12px;}

.main_contents .user_infoDate .setBox .text_select .the_radio{ width: 15px; height: 44px; float: left; }
.main_contents .user_infoDate .setBox .text_select label{float: left; padding-left: 8px;}
.main_contents .user_infoDate .setBox .text_select span{ color: #333; display: inline-block; line-height: 44px; padding-right: 15px; font-size: 14px;}
.main_contents .user_infoDate .setBox .none_function{ cursor: not-allowed; opacity: .5; }

/*會員中心 - 表單/網站瀏覽量*/
.reportDataBox{width: 100%;}
.reportDataBox .top_tools{ width:calc(100% - 50px); padding: 25px; background-color: #f5f5f5; box-shadow: 0 2px 8px rgba(0,0,0,.2);}
.reportDataBox .top_tools .styled-select{float: left; max-width: 365px;}
.reportDataBox .top_tools .btn_default{float: left; width: initial; padding-left: 15px;}
.reportDataBox .top_tools .btn_default a{ min-width:80px; }

.reportDataBox .top_tools p.open_web{float: right; line-height: 40px; font-size: 15px;}
.reportDataBox .top_tools p.open_web a{ color: #27d0ca;}
.reportDataBox .top_tools p.open_web a:hover{ text-decoration: underline; }
.reportDataBox .top_tools p.open_web i{padding-left: 8px;}

.reportDataBox .sub_tools{width: 100%; padding: 30px 0;}
.reportDataBox .sub_tools p.download{ float: left; line-height: 24px; }
.reportDataBox .sub_tools p.download i{padding-left: 8px;}
.reportDataBox .sub_tools p.download a{ border-radius: 4px; height: 24px; color: #888888; display: block; min-width: 80px; text-align: center; padding: 5px 10px; border: 1px solid #888888;}
.reportDataBox .sub_tools p.download a:hover{ border-color: #666; color: #666; }

.reportDataBox .sub_tools .searchBox{ float: right; text-align: right; }
.reportDataBox .sub_tools .searchBox label{ display: inline-block; line-height: 36px; padding-right: 10px; }
.reportDataBox .sub_tools .searchBox input{ display: inline-block; height: 36px; line-height: 36px; width: calc(100% - 100px); max-width: 200px; padding: 0px 10px; border: 1px solid #e0e0e0; font-size: 16px; }
.reportDataBox .sub_tools .searchDay{ float: left; }

.reportDataBox .sub_tools p.btn_tools{ float: right; text-align: center; }
.reportDataBox .sub_tools p.btn_tools a{color: #27d0ca;border-radius: 40px; display: inline-block; margin-left:5px; min-width: inherit; padding: 5px 20px;}
.reportDataBox .sub_tools p.btn_tools a.btn_in{ background-color: #27d0ca; color: #fff; }

/*購物網站 - 商品設定相關*/
.product_list_data{ width: 100%; overflow-x: auto; overflow-y: hidden; margin-bottom: 30px;}
.product_list_data .for_product_info{ width: 100%; background-color: #fff; font-size: 14px; color: #666; border-bottom: 1px solid #e4e4e4;}
.product_list_data .for_product_info .top_title{ background-color: #f5f5f5; text-align: left; font-weight: normal;}
.product_list_data .for_product_info th, .product_list_data .for_product_info td{ padding:18px 18px; border-bottom: 1px solid #f5f5f5; vertical-align: middle; white-space: nowrap;}
.product_list_data .for_product_info th .the_radio, .product_list_data .for_product_info td .the_radio{ width: 24px; height: 16px; }
.product_list_data .for_product_info th{ border-color: #e4e4e4; border-top:1px solid #e4e4e4; }
.product_list_data .for_product_info tr:hover{background-color: #f5f5f5;}
.product_list_data .for_product_info tr.top_title:hover{background-color:#f5f5f5;}
.product_list_data .for_product_info tr.br_color_blue{background-color: #e2ecec;}

.product_list_data .for_product_info a{ color: #666; }
.product_list_data .for_product_info a:hover{ color: #27d0ca; text-decoration: underline;}
.product_list_data .for_product_info i{padding: 0px 15px; display: inline-block;}
.product_list_data .for_product_info a.btn_tools{ border-radius: 40px; display: inline-block; background-color: #27d0ca; color: #fff; min-width: inherit; padding: 5px 20px;}
.product_list_data .for_product_info a.btn_tools:hover{text-decoration: none;}

.main_contents .gmbBox{ max-width: 760px;}
.main_contents .gmbBox .setBox .top_title{margin-bottom: 30px;}
.main_contents .gmbBox .setBox .top_title p a{ color: #27d0ca;}
.main_contents .gmbBox .setBox .top_title p a:hover{ text-decoration: underline; }
.main_contents .gmbBox .setBox p.the_reminder{ text-align: center; }
.main_contents .gmbBox .top_tools{text-align: center;}
.main_contents .gmbBox .top_tools .styled-select{float: none; margin:10px auto 15px auto;}
.main_contents .gmbBox .top_tools .btn_default{float: none; margin-bottom: 15px; padding-left: 0;}
.main_contents .gmbBox .top_tools .btn_default a{ min-width: 110px; }
.main_contents .gmbBox .top_tools p.p_gray{ color: #888888; }

.orderSearch{ padding-bottom: 50px;}
.orderSearch .setBox .fillinBox ul li{width: 50%; float: left;}
.orderSearch .setBox .fillinBox ul li.day_calendar{position: relative;}
.orderSearch .setBox .fillinBox ul li.day_calendar i{ position: absolute; top: 1px; right: 20px; cursor: pointer; color: #666; width: 40px; height: 40px; line-height: 40px; text-align: center; background-color: #fff;}

.orderSearch .setBox label{ float: left; width: 120px; }
.orderSearch .setBox input{ float: left; width:calc(100% - 160px);}
.orderSearch .setBox .styled-select{max-width: inherit; width:calc(100% - 140px); }
.orderSearch .setBox .btn_default{padding-left: 0px; margin-top: 15px; float: none; }
.orderSearch .top_tools .btn_default a{min-width: 124px;}

.orderSearch p.sub_reminder{ padding-bottom: 25px; color: #666; line-height: 18px;}
.orderSearch p.sub_reminder a{ color: #27d0ca;}
.orderSearch p.sub_reminder a:hover{ text-decoration: underline; }
.orderSearch p.sub_reminder span{ font-weight: bold; }
.orderSearch p.sub_reminder span.p_pink{ color: #ff5e8f;}
.orderSearch .sub_tools{padding:40px 0 0 0;}
.orderSearch .sub_tools p.download{text-align: left; width: 100%;}
.orderSearch .sub_tools p.download a{ display: inline-block; margin-right: 10px;}
.orderSearch .sub_tools p.download a.none_function{ cursor: not-allowed; opacity: .5; }
.orderSearch .sub_tools p.download a.none_function:hover{ border-color: #888; color: #888; }
.orderSearch .no_pa{padding-top: 0;}
.for_goods_edit .the_one{ border: 1px solid #e6e6e6; font-size: 14px; text-align: center; width:calc(100% - 22px); height: 30px; padding: 2px 10px; font-size: 15px; line-height: 24px; color: #333;}
.for_goods_edit .the_money{max-width: 88px;}
.for_goods_edit .the_photo{ width: 60px; height: 60px; background-color: #fff;}
.for_goods_edit select.the_one{min-width: 110px;}
.for_goods_edit a.link{ color: #27d0ca; font-size: 13px; }
.for_goods_edit a.link span{padding-top: 8px; display: block; }
/*購物網站 - 商品設定相關 END*/

/*footer*/
.FooterBox{ width: 100%; background-color: #333; padding: 65px 0 70px 0;}
.FooterBox p{ letter-spacing: 1px; }
.FooterBox .navbar{ width: 100%;}
.FooterBox .navbar p.logo{float: left; text-indent: -9999px; width: 108px; height: 27px; background: url(../images/logo_w.png) center left no-repeat; background-size: contain;}

.FooterBox .navbar .linkBox{ float: right; }
.FooterBox .navbar ul.other_link{float: left; text-align: right;}
.FooterBox .navbar ul.other_link li{ display: inline-block; padding-left:20px;}
.FooterBox .navbar ul.other_link li p{ font-size:14px;}
.FooterBox .navbar ul.other_link li p a{color: #fff; line-height:28px;}
.FooterBox .navbar ul.other_link li p a:hover{text-decoration: underline;}

.FooterBox .copyright{ width: 100%; padding-top: 10px;}
.FooterBox .copyright p{float: left; font-size: 12px; color: #a1a1a1; line-height: 26px; }
.FooterBox .copyright ul.follow_us{float: right; text-align: right;}
.FooterBox .copyright ul.follow_us li{display: inline-block; margin: 0 15px;}
.FooterBox .copyright ul.follow_us li a{ color: #fff; font-size: 22px;}
.FooterBox .copyright ul.follow_us li a.line{ width: 24px; height: 23px; display: block; background: url(../images/icon_line.png) center center no-repeat; background-size: contain; }
.FooterBox .copyright ul.follow_us li a:hover{opacity: .8;}

.FooterBox .languageBox{float: left; padding-left: 24px;}
.FooterBox .styled-select{ width: 90px; min-height: 28px; text-align: center; color:#fff ;overflow: hidden; background: url(../images/icon_arr_w.png) right center no-repeat transparent; margin: 0 auto; text-align: center;}
.FooterBox .styled-select select { width:100%; width: calc(100% - 5px); font-size: 14px; color: #fff; line-height:28px; *width:120%; _width:120%;  background:transparent; -moz-appearance: none;  text-indent: 0.01px; text-overflow: '';text-align: center; border: 0; border-radius:0; -webkit-appearance: none;  }
.FooterBox .styled-select select option{ background-color:transparent; text-align: center; color: #333;}

*::-ms-backdrop, .FooterBox .styled-select{ width:100%\0; background: url(../images/icon_arr_w.png) right center no-repeat #f1f0f0\0; background-size: contain;}
*::-ms-backdrop, .FooterBox .styled-select select{ width:125%\0; background: transparent\0;}
*::-ms-backdrop, .FooterBox .styled-select select option{ background-color:#ccc\0; padding:5px 0\0;}

:root .FooterBox .styled-select{ width:\9\0; background-color: url(../images/icon_arr_w.png) right center no-repeat #f1f0f0\9\0 !important; background-size: contain;}
:root .FooterBox .styled-select select{ width:120%\9\0 !important; background: transparent\9\0 !important;}
:root .FooterBox .styled-select select option{ background-color:#fff\9\0; padding:5px 0\9\0;}
/*footer end*/

/*popup - style*/
.white-popup { position: relative; background: #FFF; padding: 30px 60px 50px 60px; width: auto; max-width: 640px; margin: 20px auto;}
.mfp-fade.mfp-bg {  opacity: 0; -webkit-transition: all 0.15s ease-out; -moz-transition: all 0.15s ease-out;  transition: all 0.15s ease-out;}
.mfp-fade.mfp-bg.mfp-ready { opacity: 0.5;}
.mfp-fade.mfp-bg.mfp-removing { opacity: 0;}
.mfp-fade.mfp-wrap .mfp-content { opacity: 0; -webkit-transition: all 0.15s ease-out;  -moz-transition: all 0.15s ease-out;  transition: all 0.15s ease-out;}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content { opacity: 1;}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content { opacity: 0;}
.popup-w-s{max-width: 360px;}
.popup-w-s .setBox .top_title::after{ display: none;}

.width-M {max-width: 1000px;}
.setBox .order_editBox ul{ width:calc(40% - 30px); float: left;}
.setBox .order_editBox label{ width: 100px; float: left; }
.setBox .order_editBox input{ width:calc(100% - 130px); float: left; }
.setBox .order_editBox ul.order_list{ float: right; width:60%;}
.setBox .order_editBox h4{font-weight: bold; color: #27d0ca; padding: 15px 0;}
.setBox .order_editBox p.info_show{ float: left; color: #333; width:calc(100% - 110px); padding: 8px 0px; font-size: 15px; line-height: 24px; min-height: 24px;}
.setBox .order_editBox p.label_title{font-size: 13px;}
.setBox .order_editBox .purchaseDetails{font-size: 14px; border-top: 1px solid #e0e0e0; padding-bottom: 20px;}
.setBox .order_editBox .purchaseDetails td, .setBox .order_editBox .purchaseDetails th{ padding: 15px 0; vertical-align: middle; white-space: nowrap;}
.setBox .order_editBox .purchaseDetails th{ color: #666; background-color: #f9f9f9; font-weight: normal; font-size: 13px; }

.setBox .order_editBox .purchaseDetails .total_amount{ background-color: #e2ecec; font-size: 18px; font-weight: bold;}
.setBox .order_editBox .purchaseDetails .total_amount span{ color: #ff2121; }
.setBox .order_editBox .purchaseDetails .name{max-width: 100px; white-space: pre-wrap; padding-right: 10px; text-align: justify;}
/*popup - style end*/


/*==== RWD ====*/

@media (max-width:1240px){
	.FooterBox .ContentsBox{ width:calc(100% - 40px);}
}

@media (max-width:1200px){
	.ContentsBox{ width:calc(100% - 40px);}
	.orderSearch .setBox .fillinBox ul li{width: 100%;}
	.orderSearch .setBox input{width: calc(100% - 144px);}
	.orderSearch .setBox .styled-select{width: calc(100% - 124px);}
}

@media (max-width:1000px){
	.main_contents .ContentsBox{width:calc(100% - 40px);}
	.main_contents .sideMenu{ width: 44px; overflow: hidden; display: block; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; position: fixed; height:calc(100vh - 62px); top: 62px; left: 0;  /*left: -299px;*/ z-index: 5; background-color: #fff; border-right: 1px solid #dfdfdf;}
	.main_contents .sideMenu:hover{ width: 298px; }
	.main_contents .rightData{float: inherit; width: 100%; border: none;}
	.main_contents .rightData .dataBox{ width: calc(100% - 44px); padding-left: 44px; }
	.main_contents .rightData .dataBox h4.top_title{text-align: center; max-width: initial;}
	.main_contents ul.My_template{max-width: inherit;}
	.main_contents .gmbBox{max-width: inherit;}
	.FooterBox .ContentsBox{ padding-left: 50px; width: calc(100% - 90px); }
	.orderSearch .sub_tools p.download{text-align: center;}

}

@media (max-width:900px){
	.HeaderBox ul.userBox li span.text, .HeaderBox ul.userBox li.profile_photo p.userName{display: none;}
	.HeaderBox ul.userBox li .theUserBox{margin: inherit; right: -15px;}
	.HeaderBox ul.menu li{ margin: 0 8px;}
	.main_contents ul.pageBox{text-align: center;}
	.setBox .order_editBox ul, .setBox .order_editBox ul.order_list{ width: 100%; padding-bottom: 20px; float: none; }
}

@media (max-width:800px){
	.reportDataBox .top_tools .styled-select{ max-width: inherit; margin-bottom: 15px;}
	.reportDataBox .top_tools .btn_default{padding: 0;}
}
@media (max-width:750px){
	.main_contents .slide_Photo ul.Photo_list li .photo{ width: 150px; height: 150px; }
}
@media (max-width:700px){
	.main_contents .rightData .dataBox h4.top_title a.add_new_website{ position: initial; display: block; margin-top: 15px; padding: 8px 15px; }
	.FooterBox .navbar p.logo{ float: none; height: 22px; margin: 0 auto 5px auto; background-position: center;}
	.FooterBox .copyright{text-align: center;}
	.FooterBox .copyright ul.follow_us{float: inherit; text-align: inherit;}
	.FooterBox .copyright p{float: none; padding-top: 10px; font-size: 10px;}
	.FooterBox .navbar .linkBox{float: none; width: 100%;}
	.FooterBox .navbar ul.other_link{float: none; text-align: center;}
	.FooterBox .navbar ul.other_link li{padding: 10px;}
	.FooterBox .navbar ul.other_link li p{font-size: 12px;}
	.FooterBox .languageBox{float: none; padding: 0 0 5px 0;}
	.FooterBox .styled-select{ border: 1px solid #fff;border-radius: 4px; padding: 0 4px;}
	.FooterBox .styled-select select{padding-left: 5px; font-size: 12px;}
}
@media (max-width:600px){
	p{font-size: 13px;}
	.HeaderBox ul.menu{display: none;}
	.HeaderBox ul.userBox li .theUserBox ul li.mob_show{display: block;}
	.main_contents .sideMenu ul li h3{ font-size: 15px; }
	.main_contents .sideMenu ul li p{font-size: 14px;}

	.main_contents .rightData{padding: 20px 0;}
	.main_contents .rightData .dataBox h4.top_title{ font-size: 24px; padding-bottom: 20px;}

	.main_contents ul.My_template .website_info{width: 100%;}
	.main_contents ul.My_template .website_info h5.web_name{width: 100%;}
	.main_contents ul.My_template li{ padding: 18px;}
	.main_contents ul.My_template li p.btn_tools a, .product_list_data .for_product_info a.btn_tools{padding: 3px 12px;}
	.main_contents ul.My_template li .btn_swtich{top: 25px;}
	.main_contents ul.My_template li.shoppingBox h5{font-size: 18px;}
	.main_contents ul.My_template li.shoppingBox i{font-size: 36px;}
	.main_contents ul.My_template .share_photo{max-width: 50%; padding-bottom: 5px;}
	.main_contents .slide_Photo ul.Photo_list li .photo{ width: 110px; height: 110px; }
	.white-popup{ padding: 30px;}

	.setBox p.the_reminder{font-size: 12px;}
	.setBox .top_title h3{font-size: 22px;}
	.setBox .fillinBox .shareBox{padding-bottom: 20px;}
	.setBox .fillinBox .shareBox p.the_reminder{ padding-top: 15px; width: 100%;}
	.setBox .fillinBox input, .setBox .fillinBox textarea{font-size: 13px;}
	.setBox .styled-select select{font-size: 13px;}

	.reportDataBox .sub_tools .searchBox input{ max-width: 120px;}
	.reportDataBox .top_tools p.open_web{font-size: 13px;}
	.reportDataBox .sub_tools p.btn_tools{ width: 100%; padding-top: 15px; }
	.reportDataBox .sub_tools p.btn_tools a{margin: 0 5px;}

	.orderSearch .setBox label{ width: 85px;}
	.orderSearch .setBox input{ width: calc(100% - 109px);}
	.orderSearch .setBox .styled-select{ width: calc(100% - 89px);}
	.orderSearch .setBox .fillinBox ul li.day_calendar i{ right: 5px;}
	.orderSearch .sub_tools p.download a{margin-bottom: 10px;}
	.FooterBox{padding: 20px 0;}
	.FooterBox .copyright p{font-size: 1vw;}
	.for_goods_edit .the_one{ font-size: 13px; }

}
@media (max-width:420px){
	.btn_default a{padding: 10px 0;}
	.HeaderBox ul.userBox li .notificationBox{ width: calc(100vw - 100px); right: -8vw;}
}
@media (max-width:360px){
	.HeaderBox ul.userBox li .notificationBox{ width: calc(100vw - 80px); right: -14vw;}
	.HeaderBox ul.userBox li .notificationBox .left-box{padding: 15px}
	.HeaderBox ul.userBox li .notificationBox .notification-content p{font-size: 13px;}
}
@media (max-device-width:360px) {.ContentsBox{min-width: initial;}}